
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

html{
        height:100%                
}

body{       

        -webkit-box-sizing: border-box; /* Safari, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        width: 100%;
        overflow-x: hidden;
        height: 100vh;
        max-width: 100%;
        -webkit-touch-callout: none;
        -webkit-text-size-adjust:none;
        -moz-text-size-adjust:none;
        -ms-text-size-adjust:none;
        -webkit-text-size-adjust:100%;
        -moz-text-size-adjust:100%;
        -ms-text-size-adjust:100%;      
        //user-drag: none; 
        //-moz-user-select: none;
        //-webkit-user-drag: none;
        overflow: hidden;
}


#RendererMain canvas.vvvv-js-generated-renderer{
        display:block;
        position:absolute;
        z-index:-1;
        pointer-events: none;
}